<template>
  <div class="row">
    <div class="login-container">
      <button @click="auth('google')" class="btn btn-primary">
        Google Login
      </button>
    </div>
  </div>
</template>

<script>
import bus from "../main";
export default {
  data() {
    return {
      profile: {}
    };
  },
  methods: {
    auth(network) {
      const hello = this.hello;
      hello(network)
        .login()
        .then(() => {
          const authRes = hello(network).getAuthResponse();
          console.log(authRes);
          bus.$emit("isLoggedIn", true);

          hello(network)
            .api("me")
            .then(function(json) {
              this.profile = json;
            });
        })
        .then(res => {
          console.log(res);
          this.$router.push("/");
        });
    }
  }
};
</script>
<style scoped>
.login-container {
  width: 32%;
  left: 30%;
  /* margin: auto; */
  border: 1px solid #101010;
  padding: 28px;
  position: relative;
  top: 147px;
  background: #ffffff;
  border-radius: 5px;
}

.btn {
  margin-left: 118px;
}
</style>
