<template>
  <div>
    <div id="customer-page">
      <figure>
        <img :src="page.fields.hero_image" />
      </figure>
      <h1>{{ page.fields.headline }}</h1>
    

      <h3>Customers Love Us!</h3>
      <img
        class="logo"
        v-for="(logo, index) in page.fields.customer_logo"
        :src="logo.logo_image"
        :key="index"
      />
    </div>
    <hr>
<h1>Stories</h1>
    <div v-for="story in page.fields.stories" :key="story.slug">
      <h2>{{ story.title }}</h2>
      <p>{{ story.description }}</p>
      <img :src="story.background_image" alt="" />
      <p>{{ story.slug }}</p>
       <button class="btn btn-primary" @click="getButterPageByCategories(story)">
        {{ page.fields.call_to_action }}
      </button>
    </div>
     
  </div>
</template>

<script>
import { butter } from "../main";
import EquipmentDataService from "../service/EquipmentDataService";

export default {
  data() {
    return {
      pageType: "customer_case_study",
      slug: this.$route.params.slug,
      page: {
        slug: "",
        fields: {}
      }
    };
  },

  methods: {
    getPage() {
      butter.page
        .retrieve("customer_case_study", this.slug)
        .then(res => {
          this.page = res.data.data;
          console.log(this.page);
        })
        .catch(e => {
          console.log(e);
        });
    },

    getButterAPiPage() {
      EquipmentDataService.getButterPage(this.pageType, this.slug).then(res => {
        this.page = res.data.data;
        console.log(res.data.data);
      });
    },

    getButterPageByCategories(story) {
      console.log(story);
      EquipmentDataService.getCollections(story.slug)
      .then(res => {
        console.log('get particular story', res.data.data);
      })
    }
  },
  created() {
    this.getButterAPiPage();
    // this.getPage();
  }
};
</script>

<style scoped>
.app-container {
  margin: auto;
  width: 67%;
}
.navbar-right {
  cursor: pointer !important;
}
h3 {
  font-family: cursive !important;
}

.image {
  position: relative;
  left: 20%;
}

img {
  width: 100%;
  height: 36em;
}

.logo {
  width: 20% !important;
  height: 10em !important;
}

@media screen and (max-width: 800px) {
  .app-container {
    width: 100%;
  }
}
</style>
