<template>
  <div>
    <!-- <div id="customer-page" v-for="(page) in pages" :key="page.slug">
      <figure>
        <img :src="page.fields.hero_image" />
      </figure>
      <h1>{{ page.fields.headline }}</h1>
      <button class="btn btn-primary">{{ page.fields.call_to_action }}</button>

      <h3>Customers Love Us!</h3>
      <img
        class="logo"
        v-for="(logo, index) in page.fields.customer_logo"
        :src="logo.logo_image"
        :key="index"
      />
    </div> -->

    <div id="customers-home">
      <div v-for="(page, index) in pages" :key="page.slug + '_' + index">
        <router-link :to="'/butterDetail/' + page.slug">
          <div>
            <img :src="page.fields.customer_logo" alt="" />
            <h2>{{ page.fields.seo_title }}</h2>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { butter } from "../main";
import EquipmentDataService from "../service/EquipmentDataService";

export default {
  //   slug: this.$route.params.slug,

  data() {
    return {
      pages: [],
      slug: "",
      pageType: "customer_case_study"
    };
  },

  methods: {
    getPage() {
      butter.page
        .retrieve("*", "customer-test")
        .then(res => {
          this.page = res.data.data;
          console.log(this.page);
        })
        .catch(e => {
          console.log(e);
        });
    },

    getPages() {
      butter.page.list("customer_case_study").then(res => {
        this.pages = res.data.data;
        console.log(this.pages);
      });
    },

    getSamplePage() {
      EquipmentDataService.getButterData(this.pageType).then(res => {
        this.pages = res.data.data;
        console.log("response from butter api call", res.data);
      });
    }
  },
  created() {
    // this.getPages();
    this.getSamplePage();
  }
};
</script>

<style scoped>
.app-container {
  margin: auto;
  width: 67%;
}
.navbar-right {
  cursor: pointer !important;
}
h3 {
  font-family: cursive !important;
}

.image {
  position: relative;
  left: 20%;
}

img {
  width: 100%;
  height: 36em;
}

.logo {
  width: 20% !important;
  height: 10em !important;
}

@media screen and (max-width: 800px) {
  .app-container {
    width: 100%;
  }
}
</style>
