<template>
  <div id="get-equipment" class="row">
    <transition name="modal" appear>
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-body">
              <div style="text-align: center;">
                Are you sure you want to delete {{ equipment.name }}
              </div>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button
                  class="btn btn-primary"
                  @click="DeleteEquipment(equipment.id)"
                >
                  Yes
                </button>
                <button class="btn btn-primary" @click="$emit('close')">
                  No
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import EquipmentDataService from "../service/EquipmentDataService";

export default {
  data() {
    return {
      equipment: {
        id: "",
        name: "",
        status: null,
        statusName: "",
        type: null,
        typeName: "",
        quantity: null
      }
    };
  },

  props: {
    equipmentDetail: {
      id: "",
      name: "",
      type: null,
      typeName: "",
      status: null,
      statusName: "",
      quantity: null
    }
  },

  methods: {
    getEquipment() {
      this.equipment = this.equipmentDetail;
    },

    DeleteEquipment(id) {
      EquipmentDataService.deleteEquipment(id)
        .then(response => {
          const title = "Success!";
          const message = "Equipment has been deleted!";
          const type = "success";

          EquipmentDataService.showMessage(title, message, type);
          this.$store.dispatch("getEquipment");
          this.$emit("close");
          console.log(response.data);
        })
        .catch(e => {
          const title = "Error!";
          const message = e;
          const type = "error";
          EquipmentDataService.showMessage(title, message, type);
          console.log(e);
        });
    }
  },

  mounted() {
    this.getEquipment(this.equipmentDetail.id);
  }
};
</script>

<style scoped>
.cancel-btn {
  position: relative;
  left: 100%;
  cursor: pointer;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 29%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .modal-container {
    width: 93%;
  }
}
</style>
