<template>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <transition name="fade" appear>
      <div class="card app-card">
        <div class="card-body">
          <div style="display: flex">
            <div>
              <h5 class="card-title">Name:</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ equipment.name }}
              </h6>
            </div>
            <div class="action-btns">
              <span
                class="glyphicon glyphicon-trash"
                @click="deleteEquipment(equipment)"
              ></span>
              <span
                class="glyphicon glyphicon-pencil pencil"
                @click="editEquipment(equipment)"
              ></span>
            </div>
          </div>
          <hr />

          <div class="app-equipment-features">
            <div class="app-equipment-item">
              <h5 class="card-title">Type:</h5>
            </div>
            <div class="app-equipment-item">
              <h6 class="card-subtitle mb-2 text-muted">
                {{ equipment.typeName }}
              </h6>
            </div>
          </div>

          <hr />
          <div class="app-equipment-features">
            <div class="app-equipment-item">
              <h5 class="card-title">Status:</h5>
            </div>
            <div class="app-equipment-item">
              <h6 class="card-subtitle mb-2 text-muted">
                {{ equipment.statusName }}
              </h6>
            </div>
          </div>

          <hr />
          <div class="app-equipment-features">
            <div class="app-equipment-item">
              <h5 class="card-title">Quantity:</h5>
            </div>
            <div class="app-equipment-item">
              <h6 class="card-subtitle mb-2 text-muted">
                {{ equipment.quantity }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <app-edit-equipment
      v-if="showEditModal"
      @close="showEditModal = false"
      :equipmentDetail="equipmentDetail"
    ></app-edit-equipment>
    <app-delete-equipment
      v-if="showDeleteModal"
      @close="showDeleteModal = false"
      :equipmentDetail="equipmentDetail"
    ></app-delete-equipment>
  </div>
</template>

<script>
import EditEquipment from "./EditEquipment";
import DeleteEquipment from "./DeleteEquipment";

export default {
  data() {
    return {
      showEditModal: false,
      showDeleteModal: false,
      equipmentDetail: {}
    };
  },
  props: {
    equipment: {
      id: "",
      name: "",
      type: null,
      typeName: "",
      status: null,
      statusName: "",
      quantity: null
    }
  },

  methods: {
    editEquipment(equipment) {
      this.equipmentDetail = equipment;
      this.showEditModal = true;
    },

    deleteEquipment(equipment) {
      this.equipmentDetail = equipment;
      this.showDeleteModal = true;
    }
  },

  components: {
    appEditEquipment: EditEquipment,
    appDeleteEquipment: DeleteEquipment
  }
};
</script>

<style>
.app-card {
  width: 29rem;
  margin: auto;
  border: 1px solid #5b7f95;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  height: 242px;
  background-color: #ffffff;
}
.app-equipment-features {
  display: flex;
  position: relative;
  top: 3px;
}

.action-btns {
  position: absolute;
  top: 45px;
  left: 77%;
  cursor: pointer;
}

.app-equipment-item {
  margin-right: 3%;
}
.pencil {
  margin-left: 15px;
}

.description-section::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #cccccc;
}

.description-section::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.description-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5b7f95;
}

.card-subtitle {
  margin-top: 12px;
}

@media screen and (max-width: 1440px) {
  .app-card {
    width: 22rem;
    position: relative;
    right: 5px;
  }

  .action-btns {
    left: 72%;
  }
}

@media screen and (max-width: 1366px) {
  .app-card {
    width: 22rem;
    position: relative;
    right: 13px;
  }
}

@media screen and (max-width: 800px) {
  .action-btns {
    top: 25px;
    left: 70%;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave {
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

.slide-enter {
}
.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}
.slide-leave {
}
.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
}

.slide-move {
  transition: transform 1s;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
</style>
