<template>
  <div class="row equipment-row">
    <transition name="fade" appear>
      <div class="app-header-section">
        <div class="app-search">
          <div class="input-group mb-3 app-search-input">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name"
              v-model="searchParam.name"
              name="searchParam"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                type="button"
                @click="searchEquipment(searchParam.name)"
              >
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <button
            id="show-modal"
            class="btn btn-primary add-btn"
            @click="showModal = true"
          >
            <span class="glyphicon glyphicon-plus"></span>Add Equipment
          </button>
        </div>
      </div>
    </transition>

    <app-equipment
      v-for="(equipment, index) in paginatedEquipments"
      :key="index"
      :equipment="equipment"
    ></app-equipment>
    <app-new-equipment v-if="showModal" @close="showModal = false">
    </app-new-equipment>

    <div class="pagination" v-if="equipments.length > 0">
      <button @click="paginate(currentPage - 1)" :disabled="currentPage === 1">
        &laquo;
      </button>
      <button
        v-for="(page, i) in pages"
        :key="i"
        @click="paginate(page)"
        :class="{ active: currentPage === page }"
      >
        {{ page }}
      </button>
      <button
        @click="paginate(currentPage + 1)"
        :disabled="currentPage === pages.length"
      >
        &raquo;
      </button>
    </div>
  </div>
</template>

<script>
import Equipment from "./Equipment";
import NewEquipment from "./NewEquipment";
// import EquipmentDataService from "../service/EquipmentDataService";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      // equipments: [],
      currentPage: 1,
      pageSize: 8,
      pages: [],
      paginatedEquipments: [],
      showModal: false,
      showEditModal: false,
      searchParam: {
        name: ""
      }
    };
  },
  async mounted() {
    await this.$store.dispatch("getEquipment");
    this.paginate(1);
  },

  computed: {
    ...mapGetters(["equipments"])
  },
  components: {
    appEquipment: Equipment,
    appNewEquipment: NewEquipment
  },

  methods: {
    searchEquipment(data) {
      if (data) {
        this.$store.dispatch("searchEquipment", data);
      } else {
        this.$store.dispatch("getEquipment");
      }
    },

    paginate(pageNum) {
      console.log("paginate 1");
      // this.$store.dispatch('setCurrentPage', pageNum)
      if (
        Number(this.equipments.length / this.pageSize) >
        Number(
          (this.equipments.length / this.pageSize).toString().split(".")[0]
        )
      ) {
        this.pageCount =
          Number(
            (this.equipments.length / this.pageSize).toString().split("")[0]
          ) + 1;
      } else {
        this.pageCount = Number(this.equipments.length / this.pageSize);
      }
      if (pageNum < 1) {
        pageNum = 1;
      } else if (pageNum > this.pageCount) {
        pageNum = this.pageCount;
      }
      this.currentPage = pageNum;
      console.log("pageNum", pageNum, this.equipments);
      console.log(
        "this.equipments / 3",
        Number((this.equipments.length / this.pageSize).toString().split("")[0])
      );
      this.paginatedEquipments = this.equipments.slice(
        (pageNum - 1) * this.pageSize,
        pageNum * this.pageSize
      );
      const pageArray = new Array(this.pageCount);
      let newArray = [];
      for (var i = 0; i < pageArray.length; i++) {
        newArray.push(i + 1);
      }
      this.pages = newArray;
      newArray = [];
    }
  },

  created() {
    this.$store.getters.equiptments;
  }
};
</script>

<style scoped>
.add-btn {
  position: relative;
  left: 83%;
}

.paginate {
  position: absolute;
}
.glyphicon-plus {
  color: #ffffff;
  padding-right: 5px;
}
.app-search {
  position: relative;
  left: 14px;
  top: 33px;
}

.app-search-input {
  width: 67%;
  display: flex !important;
}
.app-header-section {
  height: 98px;
  border: 1px solid #5b7f95;
  border-radius: 7px;
  background-color: #ffffff;
  margin: auto;
  width: 98%;
}
.glyphicon-search {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .add-btn {
    left: 76%;
  }
}

@media screen and (max-width: 800px) {
  .add-btn {
    left: 50.7%;
  }
  .app-search {
    left: 2px;
  }
  .app-search-input {
    width: 45%;
    padding-left: 15px;
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave {
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

.slide-enter {
}
.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}
.slide-leave {
}
.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
}

.slide-move {
  transition: transform 1s;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
</style>
