<template>
  <div class="footer-container">
    <footer class="text-center">
  <!-- <p>Footer Text</p> -->
</footer>
  </div>
</template>

<script>
export default {
 
}
</script>

<style>
.footer-container {
  background-color: aliceblue
}
</style>
