<template>
  <div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid app-container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <router-link :to="{ path: '/' }" class=" navbar-brand"
                >COMPANY X</router-link
              >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li> -->
            <li>
              <router-link :to="{ path: '/butter' }" class="active navbar-brand"
                >Butter CMS</router-link
              >
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a @click="navToLogin" v-if="isUserLoggedIn"
                ><span class="glyphicon glyphicon-log-in"></span> Logout</a
              >
              <a @click="navToLogin" v-else
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div></div>
  </div>
</template>

<script>
import bus from "../main";
export default {
  data() {
    return {
      isUserLoggedIn: false,
      loggedInUser: {}
    };
  },

  methods: {
    getLoggedInUser() {
      this.loggedInUser = JSON.parse(localStorage.getItem("hello"));
      bus.$on("isLoggedIn", payLoad => {
        this.isUserLoggedIn = payLoad;
      });
      if (this.loggedInUser) {
        this.isUserLoggedIn = true;
      } else {
        this.isUserLoggedIn = false;
      }
    },

    navToLogin() {
      if (this.isUserLoggedIn) {
        localStorage.removeItem("hello");
        this.isUserLoggedIn = false;
        this.$router.push("/login");
      } else {
        this.$router.push("/");
      }
    }
  },
  mounted() {
    this.getLoggedInUser();
  }
};
</script>

<style scoped>
.app-container {
  margin: auto;
  width: 67%;
}
.navbar-right {
  cursor: pointer !important;
}

@media screen and (max-width: 800px) {
  .app-container {
    width: 100%;
  }
}
</style>
