<template>
  <div id="get-equipment" class="row">
    <transition name="modal" appear>
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <div class="cancel-btn">
                <span
                  class="glyphicon glyphicon-remove"
                  @click="$emit('close')"
                ></span>
              </div>
              <slot name="header">
                Add An Equipment
              </slot>
            </div>

            <div class="modal-body">
              <form>
                <div class="form-group">
                  <validation-provider rules="required" v-slot="{ errors }">
                    <label for="exampleFormControlInput1">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Equipment Name"
                      required
                      v-model="equipment.name"
                      name="name"
                    />
                    <div class="validation-message">{{ errors[0] }}</div>
                  </validation-provider>
                </div>

                <div class="form-group">
                  <validation-provider rules="required" v-slot="{ errors }">
                    <label for="exampleFormControlSelect1">Type </label>
                    <select
                      class="form-control"
                      id="exampleFormControlSelect1"
                      v-model="equipment.type"
                    >
                      <option
                        v-for="item in equipment.typeName"
                        :key="item.id"
                        :value="item.id"
                        >{{ item.value }}</option
                      >
                    </select>
                    <div class="validation-message">{{ errors[0] }}</div>
                  </validation-provider>
                </div>

                <div class="form-group">
                  <validation-provider rules="required|min_value:1" v-slot="{ errors }">
                    <label for="Quantity">Quantity</label>
                    <input
                      type="number"
                      class="form-control"
                      id="quantity"
                      placeholder="Equipment Quantity"
                      required
                      v-model="equipment.quantity"
                      name="quantity"
                      min="1"
                    />
                    <div class="validation-message">{{ errors[0] }}</div>
                  </validation-provider>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="btn btn-primary" @click="saveEquipment">
                  Submit
                </button>
                <!-- <button class="btn btn-primary" >
                  Close
                </button> -->
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import EquipmentDataService from "../service/EquipmentDataService";
// import { bus } from "../main";

export default {
  data() {
    return {
      equipment: {
        id: "",
        name: "",
        status: 1,
        type: null,
        statusName: [
          { id: 0, value: "Approved" },
          { id: 1, value: "Declined" }
        ],
        quantity: null,
        typeName: [
          { id: 0, value: "Indoor" },
          { id: 1, value: "Outdoor" }
        ]
      },

      equipments: []
    };
  },

  methods: {
    saveEquipment() {
      
      if (this.equipment.status === 1) {
        this.equipment.statusName = "Approved";
      } else {
        this.equipment.statusName = "Declined";
      }

      if (this.equipment.type === 1) {
        this.equipment.typeName = "Outdoor";
      } else {
        this.equipment.typeName = "Indoor";
      }

      var data = {
        name: this.equipment.name,
        status: Number(this.equipment.status),
        statusName: this.equipment.statusName,
        type: Number(this.equipment.type),
        typeName: this.equipment.typeName,
        quantity: Number(this.equipment.quantity)
      };

      // this.$store.dispatch("addEquipment", data);
      // this.$emit("close");

      EquipmentDataService.createEquipment(data)
        .then(response => {
          const title = "Success!";
          const message = "Equipment was successfully created!";
          const type = "success";

          EquipmentDataService.showMessage(title, message, type);
          this.equipment.id = response.data.id;
          this.$store.dispatch("getEquipment");
          this.$emit("close");
        })
        .catch(e => {
          const title = "Error!";
          const message = e;
          const type = "error";
          EquipmentDataService.showMessage(title, message, type);
          console.log(e);
        });
    }
  }
};
</script>

<style>
.cancel-btn {
  position: relative;
  left: 100%;
  cursor: pointer;
}
.validation-message {
  color: red;
  font-size: 12px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 29%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave {
}
.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .modal-container {
    width: 93%;
  }
}
</style>
