<template>
  <div class="container-fluid app-container-fluid">
  <notifications group="notify" />

    <div class="row">
      <app-header></app-header>
    </div>

    <div class="row content  app-container">
      <div class="col-sm-8 app-col">
        <router-view />

        <!-- <app-equipment-grid></app-equipment-grid> -->
        <!-- <app-new-equipment></app-new-equipment> -->
      </div>
    </div>

    <div class="row">
      <app-footer></app-footer>
    </div>
  </div>
</template>

<script>
// import EquipmentGrid from "./components/EquipmentGrid";
// import NewEquipment from "./components/NewEquipment";
import Header from "./components/Header";
import Footer from "./components/Footer";

export default {
  components: {
    // appEquipmentGrid: EquipmentGrid,
    // appNewEquipment: NewEquipment,
    appHeader: Header,
    appFooter: Footer
  }
};
</script>

<style>
.app-container-fluid {
  background: aliceblue;
}

.content {
  height: 100vh;
}
hr {
  margin-top: 9px !important;
  margin-bottom: 8px !important;
}

.glyphicon {
  color: #5b7f95;
}

.app-col {
  margin: auto;
  float: initial !important;
}

@media screen and (max-width: 800px) {
  .content {
    height: auto;
  }
}
</style>
